<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670545833419-aee4b8clq2c2r50krjg5msvuoqqr79l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670545833419-aee4b8clq2c2r50krjg5msvuoqqr79l1</string>
	<key>API_KEY</key>
	<string>AIzaSyB3cPV-FW4p8-6nd0ImzRzm8IIaUx8wH-0</string>
	<key>GCM_SENDER_ID</key>
	<string>670545833419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-submission-65716</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-submission-65716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670545833419:ios:1f2476ef2a4d955c295a4e</string>
</dict>
</plist>